body{
	max-width: 800px;
	padding: 20px 20px;
	margin: 0 auto;
}

img{
	padding: 10px 10px 10px 10px;
	display: block;
	margin: 0 auto;
	width: 90%;
	max-width: 600px;
}

hr{
    width: 50%;
}

.inline{
	float: left;
	padding-top: 40px;
	padding-right: 20px;
    width: 30%;
}

.gallery{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	margin: 0 auto;
	width: 95%;
	max-width: 650px;
}

.menu{
	word-spacing: 20px;
	text-align: center;
	font-weight: bold;
}

.headline{
    text-align: center;
    line-height: 2em;
}

.image-link{
	padding: 10px 10px 10px 10px;
	display: block;
	margin: 0 auto;
	width: 90%;
	max-width: 600px;
}

p {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5em;
    text-align: left;
}

a{
	color: #000000;
	font-family: "DM Sans", sans-serif;
}

h3{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}