body{
	max-width: 800px;
	padding: 20px 20px;
	margin: 0 auto;
}

img{
	padding: 10px 10px 10px 10px;
	display: block;
	margin: 0 auto;
	width: 90%;
	max-width: 600px;
}

hr{
    width: 50%;
}

div{
	display: block;
	overflow: hidden;
	padding-bottom: 30px;
}

.inline{
	display: flex;
	float: left;
    width: 100px;
	padding-top: 20px
}

.inline-image-left{
	display: flex;
	float: left;
	padding-right: 20px;
	padding-bottom: 0px;
	width: 50%;
}

.inline-image-right{
	display: flex;
	float: right;
	padding-left: 20px;
	padding-bottom: 0px;
	width: 50%;
}

.two-images{
	display:inline;
	width: 45%;
}

.right-link{
	text-align: right;
	padding-right: 10%;
}

.left-link{
	text-align: left;
	padding-left: 10%;
}

.right-align{
	text-align: right
}

.headline{
    text-align: center;
	font-size: 16px;
    line-height: 2em;
}

.project-item{
	display: flex;
	align-items: start;
	max-width: 500px;
	padding-bottom: 0px;
	margin: 0 auto;
}

.footer-item{
	margin: 0 auto;
}

.footer-text{
	width: 70%
}

.project-item-text{
	display: block;
}

.image-link{
	padding: 10px 10px 10px 10px;
	display: block;
	margin: 0 auto;
	width: 90%;
	max-width: 600px;
}

.image-text{
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	margin: 0 auto;
	width: 90%;
	max-width: 600px;
	font-size: 14px;
}

.div-text{
	margin-top: auto;
}

p{
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	line-height: 1.5em;
    text-align: justify;
}

li{
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	line-height: 2em;
	padding-inline-start: 20px;
}

a{
	color: #000000;
	font-family: "DM Sans", sans-serif;
}

h3{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

h4{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: bold;
    text-align: left;
}

h5{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: bold;
    text-align: center;
}